// ion-select::part(icon) {
//     padding-left: 160px;
// }

ion-select::part(container) {
    padding-left: 5px;
}

ion-radio::part(container) {
    width: 35px;
    height: 35px;
    border-radius: 17px; /* Rounded corners */
    border: 1px solid grey;
    position: relative;
  }
  
  ion-radio::part(mark) {
    background: none; /* Hide default checkmark */
    transition: none;
    transform: none;
    border-radius: 0;
  }
  
  ion-radio.radio-checked::part(container) {
    background: var(--ion-color-primary); /* Use app's primary color */
    border-color: transparent;
    position: relative;
    color: white;
  }
  
  .day-label {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  