<ion-content [scrollEvents]="false" class="ion-padding" class="block">
  <ion-list lines="none" style="padding-left: 10px;">
    <ion-item style="height: 40px;">
      <ion-input (ionInput)="onInputTitle($event)" #ionInputEl placeholder="New Task"></ion-input>
    </ion-item>
    <ion-item *ngIf="isDetailsVisible">
      <ion-input (ionInput)="onInputDescription($event)" #ionInputEl2 placeholder="Add details" style="font-size: 15px;color: dimgray; font-size: 15px;"></ion-input>
    </ion-item>
    <ion-item>
      <ion-chip style="border-radius: 9px; background: #ecf4f8; border: 1.2px solid gray;">
        <ion-icon name="repeat-outline"></ion-icon>
        <ion-label>Weekly on Webnesday</ion-label>
        <ion-icon name="close"></ion-icon>
      </ion-chip>
    </ion-item>
    <ion-item>
      <div class="icons">
        <ion-icon (click)="toggleDetails()" src="assets/icon/list-outline.svg" alt="Description Icon" class="task-icons"></ion-icon>
        
        <ion-icon id="open-custom-dialog" src="assets/icon/time-outline.svg" alt="Clock Icon" class="task-icons"></ion-icon>
        
        <ion-icon (click)="toggleStar()" [src]="starIcon" alt="Star Icon" class="task-icons"></ion-icon>
        <ion-icon src="assets/icon/person-add-outline.svg" alt="Friend Add Icon" class="task-icons"></ion-icon>
      </div>
      <div class="save" slot="end">
        <ion-button fill="clear" (click)="submitTask()" [disabled]="isSaveDisabled" class="task-save">Save</ion-button>
      </div>
    </ion-item>
  </ion-list>
  <ion-modal id="example-modal" #modal trigger="open-custom-dialog">
    <ng-template>
      <div class="wrapper">
        <ion-datetime [value]="date" displayFormat="YYYY-mm-dd" presentation="date">
        </ion-datetime>
        <div>
          <ion-list>
            <ion-item>
              <ion-icon id="open-date-input" class="no-ripple" src="assets/icon/time-outline.svg" alt="Repeat Icon" style="width:27px; height:27px;margin-left:5px;margin-right: 20px;color: black;"></ion-icon>
               <!-- Modal for TIME PCIKER start -->
              <ion-datetime-button datetime="dtb1" style="width: 100%;"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime [showDefaultButtons]="true" doneText="OK" [(ngModel)]="timeSelect" id="dtb1" presentation="time">
                    <span slot="title">Select time</span>
                  </ion-datetime>
                </ng-template>
              </ion-modal>
              <!-- Modal for TIME PCIKER end -->
            </ion-item>
            <ion-item (click)="openModal()" lines="full" [button]="true" style="padding-top: 7px;padding-bottom: 7px;">
              <ion-icon class="no-ripple" src="assets/icon/repeat-outline.svg" alt="Repeat Icon" style="width:27px; height:27px;margin-left:5px;margin-right: 20px;color: black;"></ion-icon>
              <span>Repeat</span>
            </ion-item>
            <ion-item style="float: right; margin-top: 5px; margin-right: 8px;" lines="none">

              <ion-button fill="clear" (click)="dismissModal()" style="font-size: 15px;text-transform: capitalize;margin-right: 22px">Cancel</ion-button>

              <ion-button fill="clear" (click)="submitTask()" style="font-size: 15px;text-transform: capitalize;">Done</ion-button>

            </ion-item>
          </ion-list>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  
</ion-content>