<ion-content [scrollEvents]="false" class="ion-padding" class="block">
  <ion-list lines="none" style="padding-left: 10px;">
    <ion-item style="height: 40px;">
      <ion-input (ionInput)="onInputTitle($event)" #ionInputEl placeholder="New Task"></ion-input>
    </ion-item>
    <ion-item *ngIf="isDetailsVisible">
      <ion-input (ionInput)="onInputDescription($event)" #ionInputEl2 placeholder="Add details" style="font-size: 15px;color: dimgray; font-size: 15px;"></ion-input>
    </ion-item>
    <ion-item>
      <ion-chip (click)="openDateTimeModal()" style="border-radius: 9px; background: #ecf4f8; border: 1.2px solid gray; margin-left: 0;">
        <!-- <ion-icon name="repeat-outline"></ion-icon> -->
        <ion-label>{{ dateTime | date: 'EEE, d MMM, h:mm a' }}</ion-label>
      </ion-chip>
    </ion-item>
    <div class="icons" style="display: flex;">
      <ion-item button (click)="toggleDetails()">
        <ion-icon slot="start" src="assets/icon/list-outline.svg" alt="Description Icon" class="task-icons"></ion-icon>
      </ion-item>
      <ion-item button (click)="openDateTimeModal()">
        <ion-icon slot="start" src="assets/icon/time-outline.svg" alt="Clock Icon" class="task-icons"></ion-icon>
      </ion-item>
      <ion-item button (click)="toggleStar()">
        <ion-icon slot="start" [src]="starIcon" alt="Star Icon" class="task-icons"></ion-icon>
      </ion-item>
      <ion-item button>
        <ion-icon slot="start" src="assets/icon/person-add-outline.svg" alt="Friend Add Icon" class="task-icons"></ion-icon>
      </ion-item>
      <ion-item class="save" slot="end" style="flex:auto">
        <ion-button slot="end" fill="clear" (click)="submitTask()" [disabled]="isSaveDisabled" class="task-save">Save</ion-button>
      </ion-item>
    </div>
    
  </ion-list>
  
</ion-content>