.time {
    font-size: 12px;
}

ion-item {
    margin-bottom: 15px;
}

.item-content {
    justify-content: space-between; /* Distribute content with space between */
    align-items: center; /* Align content vertically */
    padding: 0 5px; /* Add some padding */
}
  
.title {
    font-size: 17px;
    margin: 0;
}

.time {
    font-size: 13px;
    margin-top: 5px;
}

.time-text {
    padding: 5px;
    vertical-align: top;
}

ion-checkbox {
    margin-right: 5px;
}

ion-modal {
    --height: 70%;
    --border-radius: 25px;
    // --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }