<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-list-header class="list-dropdown">
      <ion-select aria-label="fruit" value="apples">
        <ion-select-option value="apples">My Tasks List</ion-select-option>
        <ion-select-option value="oranges">Grocery List</ion-select-option>
        <ion-select-option value="bananas">Office List</ion-select-option>
      </ion-select>
    </ion-list-header>

    <ion-item lines="none">
      <ion-radio slot="start"></ion-radio>
      <div class="item-content">
        <p class="title">Make Dua</p>
        <p class="time today">
          <ion-icon src="assets/icon/time-outline.svg" alt="Clock Icon" style="width:18px; height:18px"></ion-icon>
          <span class="time-text">Today, 6 pm</span>
          <ion-icon src="assets/icon/repeat-outline.svg" alt="Repeat Icon" style="width:18px; height:18px;margin-left: 5px;"></ion-icon>
        </p>
      </div>
    </ion-item>
    <ion-item lines="none">
      <ion-radio slot="start"></ion-radio>
      <div class="item-content">
        <p class="title">Enquire about house for aunty</p>
        <p class="time">
          <ion-icon src="assets/icon/time-outline.svg" alt="Clock Icon" style="width:18px; height:18px"></ion-icon>
          <span class="time-text">Tomorrow, 10 am</span>
          <!-- <ion-icon src="assets/icon/repeat-outline.svg" alt="Repeat Icon" style="width:18px; height:18px;margin-left: 5px;"></ion-icon> -->
        </p>
      </div>
    </ion-item>
    <ion-item lines="none">
      <ion-radio slot="start"></ion-radio>
      <div class="item-content">
        <p class="title">Give ustadh Quran fees</p>
        <p class="time">
          <ion-icon src="assets/icon/time-outline.svg" alt="Clock Icon" style="width:18px; height:18px"></ion-icon>
          <span class="time-text">Fri, 26 Jul, 5 am</span>
          <ion-icon src="assets/icon/repeat-outline.svg" alt="Repeat Icon" style="width:18px; height:18px;margin-left: 5px;"></ion-icon>
        </p>
      </div>
    </ion-item>
    <ion-item lines="none">
      <ion-radio slot="start"></ion-radio>
      <div class="item-content">
        <p class="title">Car washer salary</p>
        <p class="time">
          <ion-icon src="assets/icon/time-outline.svg" alt="Clock Icon" style="width:18px; height:18px"></ion-icon>
          <span class="time-text">Tomorrow, 6 pm</span>
          <!-- <ion-icon src="assets/icon/repeat-outline.svg" alt="Repeat Icon" style="width:18px; height:18px;margin-left: 5px;"></ion-icon> -->
        </p>
      </div>
    </ion-item>
    <ion-item lines="none">
      <ion-radio slot="start"></ion-radio>
      <div class="item-content">
        <p class="title">Book haircut at Zulf Salon</p>
        <p class="time">
          <ion-icon src="assets/icon/time-outline.svg" alt="Clock Icon" style="width:18px; height:18px"></ion-icon>
          <span class="time-text">Tomorrow, 10 am</span>
          <ion-icon src="assets/icon/repeat-outline.svg" alt="Repeat Icon" style="width:18px; height:18px;margin-left: 5px;"></ion-icon>
        </p>
      </div>
    </ion-item>
    <ion-item lines="none">
      <ion-radio slot="start"></ion-radio>
      <div class="item-content">
        <p class="title">Poc expire</p>
        <p class="time">
          <ion-icon src="assets/icon/time-outline.svg" alt="Clock Icon" style="width:18px; height:18px"></ion-icon>
          <span class="time-text">Sat, 7 Sept, 10 am</span>
          <ion-icon src="assets/icon/repeat-outline.svg" alt="Repeat Icon" style="width:18px; height:18px;margin-left: 5px;"></ion-icon>
        </p>
      </div>
    </ion-item>
    
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="open-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.40" [breakpoints]="[0, 0.25, 0.40, 0.5, 0.75]">
    <ng-template>
      <app-create-task></app-create-task>
    </ng-template>
  </ion-modal>

  

</ion-content>
