<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [disabled]="isSaveDisabled"  [strong]="true">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input labelPlacement="stacked" label="Enter your name" [(ngModel)]="name" placeholder="Your name"></ion-input>
  </ion-item>


  <ion-list lines="none">
    <ion-item>
      <ion-input (ionInput)="onInputTitle($event)" [(ngModel)]="title" #ionInputEl placeholder="New Task"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input (ionInput)="onInputDescription($event)" [(ngModel)]="description" #ionInputEl2 placeholder="Add details" style="font-size: 15px;"></ion-input>
    </ion-item>
    <ion-item>
      <div class="icons">
        <!-- <ion-icon (click)="toggleDetails()" src="assets/icon/list-outline.svg" alt="Description Icon" class="task-icons"></ion-icon> -->
        
        <ion-icon id="open-custom-dialog" src="assets/icon/time-outline.svg" alt="Clock Icon" class="task-icons"></ion-icon>
        
        <ion-icon (click)="toggleStar()" [(ngModel)]="isImportant" [src]="starIcon" alt="Star Icon" class="task-icons"></ion-icon>
        <ion-icon src="assets/icon/person-add-outline.svg" alt="Friend Add Icon" class="task-icons"></ion-icon>
      </div>
    </ion-item>
  </ion-list>



</ion-content>