<ion-content [fullscreen]="true" class="ion-padding">
  <h1 style="font-size: 2.4rem;"><strong>OTP</strong>
    <span (click)="goToLogin()" style="float: right; color: grey; font-size: 1.5rem;margin-top: 10px;">Login</span>
  </h1>
  <div style="text-align: center; margin-top: 50px; margin-bottom: 35px;">
    <ion-icon src="assets/icon/otp-icon.svg" alt="OTP Logo" style="color: grey;width:80px; height:80px "></ion-icon>
  </div>

  <ion-list>

    <ion-item lines="none" style="margin-bottom: 10px;">
      <ion-input type="number" label="OTP" labelPlacement="floating" [counter]="true" maxlength="6"></ion-input>
    </ion-item>

  </ion-list>

  <ion-button (click)="confirm()" fill="outline" expand="block" fill="clear" size="large" shape="round" color="primary" style="font-size: 20px; margin-top: 50px; margin-bottom: 40px; box-shadow: -11px 15px 27px 14px rgba(0, 0, 0, 0.1); border-radius: 30px;">
    Confirm OTP <ion-icon src="assets/icon/checkmark-outline.svg" slot="start"></ion-icon>
  </ion-button>
  <p style="text-align: center;font-size: 15px; text-decoration: underline;">
    <a (click)="resendOTP()">Resend OTP</a>
  </p>

</ion-content>


