/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

.list-dropdown {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}

.today {
    color: var(--ion-color-primary);
}

ion-fab-button::part(native) {
    background: var(--ion-color-primary);
}

.task-icons {
    width:22px; 
    height:22px;
    margin-right: 5px;
}

.task-save {
    font-size: 17px;
    text-transform: capitalize;
}

.task-modal-icons {
    width:23px; 
    height:23px;
    margin-left:5px;
    margin-right: 20px;
    color: black;
}

.no-ripple {
    --ripple-color: transparent;
  }

ion-col {
    // background-color: #135d54;
    // border: solid 1px #fff;
    // color: #fff;
    text-align: center;
}

ion-datetime-button::part(native) {
    background: transparent;
    width: 100%;
    text-align: left;
    padding-left: 0;
}

#date-time-ion-modal {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 35px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }
  
  #date-time-ion-modal h1 {
    margin: 20px 20px 10px 20px;
  }
  
  #date-time-ion-modal ion-icon {
    margin-right: 6px;
    width: 48px;
    height: 48px;
    padding: 4px 0;
    color: #aaaaaa;
  }
  
  #date-time-ion-modal .wrapper {
    margin-bottom: 10px;
  }
